*{ 
  color: black;
  text-align: center;
}

body {
  background-image: url(./image.png);
  background-repeat: no-repeat;
  background-position: left top;
  
}

h1 {
  font-family: 'Cinzel';
  margin-bottom: 0;
  margin-top: 250px;
  font-size: 64px;
}

span {
  color: #DB2777;
}

p {
  font-family: 'Inter';
  font-size: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  margin: 10px;
}

button {
  background-color: #db2778;
  border-radius: 20px;
  border-style: none;
  color: white;
  padding: 10px;
}