*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 300px;
  text-align: center;
}

h1 {
  font-family: 'Cinzel';
  font-size: 64px;
}

span {
  color: #DB2777;
}

p {
  font-family: 'Inter';
  font-size: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  margin: 10px;
  color: black;
}

button {
  background-color: #db2778;
  border-radius: 20px;
  border-style: none;
  color: white;
  padding: 10px;
}